* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
}

#navbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background-color: rgb(54, 52, 52);
    height: 100vh;


    z-index: 10;

}
.account{
    color: yellow;
}

.anc {
    position: relative;
    text-decoration: none;
    margin: 1rem;
    color:#34caec;
    font-size: 21px;
    transition: all;
    transition-duration: 0.50s;
    padding-left: 32px;

}



#cname {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

}



.how {

    font-size: 30px;
    color: rgb(59, 137, 226);
    padding-top: 10px;
    cursor: pointer;
    padding-right: 5vw;
    margin-top: 6px;

}

#navv {
    position: sticky;
        transition: all;
    transition-duration: .3s;
    background-color: rgb(54, 52, 52);
    height: 90vh;
color:yellow;
    overflow-x: hidden;

}

#opt {
    position: fixed;
    width: 0px;
transition: all;
transition-duration: 0.5s;

    z-index: 9;
}

#social_media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: yellow;
    width: 284px;
    height: 100px;
    margin-left: 7px;
}

.account {
    font-size: 30px;
}

.an {
    position: relative;
    margin: 35px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: #34caec;
    display: block;
}

.img {


    align-items: center;
    margin: 0px 10px;
    width: 288px;
    height: 184px;

}


.how {
    position: relative;
    color: rgb(87, 185, 209);

}

#clo {
    display: none;
}


@media(max-width:1030px) {
    #socil_media {
        display: none;
    }
   
  
    .account {
        display: none;
    }
     .anc {
        display: none;
    }
    .text{
        font-size: 20px;
    }
.what{
    line-height: 1.5;
}
    .img {
        align-items: center;
        align-items: center;
        margin: -70px 0px;
        width: 187px;
        height: 207px;
    }

    #navbar {
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        background-color: rgb(54, 52, 52);
        height: 70px;
        padding-left: 16px;

    }
    .cards{
        width: 170px;
    }

    .myphotodiv  {

        height: 100vh;
        width: 100vw;
      
      
       
       
        margin: 70px 0px 0px 0px;
      
       

    }
    




    .myphoto {
        width: 200px;
        position: relative;
        height: 200px;

        border-radius: 50%;

    }

    #personal_info {

        line-height: 1.5;
        letter-spacing: 0.7pt;
        font-style: oblique;
        font-weight: bold;
        font-size: 20px;
       
    }
  /*
  old card css
  .card{
       width: 40%;
       margin: 10px;
       height: auto;
       
   }*/


}


@media(min-width:1030px) {
    .how {
        display: none;
    }

    .who {
        margin-left: 300px;
        padding: 10px;
        margin-top: 0px!important;

    }

    #personal_info {

        line-height: 1.5;
        letter-spacing: 0.7pt;
        font-style: oblique;
        font-weight: bold;
        font-size: 23px;

    }
    

    .myphotodiv {       
        height: 100%;
        width: -webkit-fill-available;
       
        margin: 0px 0px 0px 300px;
       
       
    

    }
    #skill{
        margin-left: 300px;
    flex-direction: row;


    }
  
    .cards{
        width: 211px;
      
       margin: 20px 0px 20px 0px;
    }

    #personal_section {
        margin-left: 300px;


        opacity: 0.8;
    }
    /*form css*/
    .myform{
        margin-left: 300px;
        padding: 40px;
    }
footer{
    margin-left: 300px;
}
    #hob {
        margin-left: 300px;

        width: -webkit-fill-available;
    }

    #items {

        width: -webkit-fill-available;

    }

    .myphoto {
        position: relative;
        width: 200px;
        height: 200px;

        border-radius: 50%;

    }



    #socil_media {
        display: none;
    }
    .what{
        margin-left: 300px;
        line-height: 2.5;
    }

    .text{
        font-size: 16px;
    }

}



.myphoto {
    border: 4px solid rgb(255, 255, 255);
    margin-bottom: 17px;
}

#btn4 {
    padding-right: 3vw;
}

.text {


    font-weight: bold;
    letter-spacing: 1pt;
    font-style: oblique;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 1px;


}

.who {
    display: flex;
    flex-shrink: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e2e2b5;
    letter-spacing: 0.6pt;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
    padding: 45px;
    font-family: monospace;


}


.obj {
    font-size: 45px;
    display: inherit;
}

#items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 11vw;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* flex-wrap: wrap; */
;

    height: 300px;
}

.smal {
    font-size: 15px;
    font-family: monospace;
}

#hob {
    font-family: monospace;
    text-align: center;
}

#hob h2 {
    padding: 10px;
}

#personal_info {


    font-family: monospace;
    font-weight: bold;
    padding: 15px;

}

#personal_section {
    font-family: monospace;
    text-align: center;
    opacity: 0.8;
    background-color: #e0eaec;
}


#personal_section h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
}

#skill{
   
        
   
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
    align-items: center;
    background-color:#3e3d3b;
    padding: 50px 10px 50px 10px;

    }
.cards{
    box-shadow: 0px 0px 10px #5586a2, inset 0px 0px 10px #b3b6b9;
}



@media (max-width: 540px) {

    #items {


        grid-column-gap: 5vw;
    }

    #personal_info {

        line-height: 1.5;
        letter-spacing: 0.1pt;
        font-family: monospace;
        font-weight: bold;
        font-size: 15px;

    }
    .cards{
        width: 90%;
        
        
    }
   }
.what
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
    font-family:monospace;
    font-weight: bold;
    font-size: 19px;
background-color: gainsboro;
padding: 12px;

letter-spacing: 0.4;
}
.what h3{
    padding: 10px;
}
.myphotodiv {


    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
  
    
    
}

  /*form css*/
  .myform{
    font-family: monospace;
    font-weight: bold;
    font-size: 19px;
    padding: 40px;
}
#textareadiv{
    margin-top: 10px;
}
#hadding{
    text-align: center;
}
.myform button{
    margin-top: 10px;
}
/*form css end*/
/*footer css start*/
footer{
    text-align: center;
    background-color:  rgb(54, 52, 52);
    color: lightgray;
    margin-bottom: -50px;
    padding: 9px;
}
/*footer css end*/

.cards{
    border-radius: 5px;
    min-height: 65vh;
    height:auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 42, 42, 0.966);
    overflow: hidden;
    color: blanchedalmond;
     
}
.cards:hover{
    border-bottom: 7px solid cadetblue;
}
.cards h5{
    text-align: center;
    color: cornflowerblue;
}
.cards p{
    padding: 15px;
    letter-spacing: 0.6pt;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}